<!-- <div>
    <div>
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div>
                <label for="name">Movie Name</label>
                <input type="text" id="name" ngModel name="name" required> 
            </div>
            <div>
                <label for="ticketprice">Price</label>
                <input type="text" id="ticketprice" ngModel name="ticketprice" required>
            </div>
            <div>
                <label for="genre">Genre</label>
                <input type="text" id="genre" ngModel name="genre" required>
            </div>
            <div>
                <label for="synopsis">Synopsis</label>
                <input type="text" id="synopsis" ngModel name="synopsis" required>
            </div>
            <div>
                <label for="cast">Cast</label>
                <input type="text" id="cast" ngModel name="cast" required>
            </div>
            <div>
                <label for="writers">Writers</label>
                <input type="writers" id="writers" ngModel name="writers" required>
            </div>
            <div>
                <label for="director">Director</label>
                <input type="text" id="director" ngModel name="director" required>
            </div>
            <div>
                <label for="releasedate">Release Date</label>
                <input type="text" id="releasedate" ngModel name="releasedate" required>
            </div>
            <div>
                <label for="language">language</label>
                <input type="text" id="language" ngModel name="language" required>
            </div>
            <div>
                <label for="poster">Poster's url</label>
                <input type="text" id="poster" ngModel name="poster" required>
            </div>
            <div>
                <label for="trailer">trailer</label>
                <input type="trailer" id="trailer" ngModel name="trailer" required>
            </div>
            <div>
                <label for="showtime1">Showtime1</label>
                <input type="text" id="showtime1" ngModel name="showtime1" required>
            </div>
            <div>
                <label for="showtime2">Showtime2</label>
                <input type="text" id="showtime2" ngModel name="showtime2" required>
            </div>
            <div>
                <button type="submit">Save</button>
                <button (click)="onCancel()">Cancel</button>
            </div>

        </form>
    </div>
</div> -->


<form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="mb-3">
        <label style="color: antiquewhite;" for="name" class="form-label">Movie Name</label>
        <input class="form-control" type="text" id="name" ngModel name="name" required>
    </div>
    <div class="mb-3">
        <label style="color: antiquewhite;" for="ticketprice" class="form-label">Ticket Price</label>
        <input class="form-control" type="text" id="ticketprice" ngModel name="ticketprice" required>
    </div>
    <div class="mb-3">
        <label style="color: antiquewhite;" for="genre" class="form-label">Genre</label>
        <input class="form-control" type="text" id="genre" ngModel name="genre" required>
    </div>
    <div class="mb-3">
        <label style="color: antiquewhite;" for="synopsis" class="form-label">Synopsis</label>
        <input class="form-control" type="text" id="synopsis" ngModel name="synopsis" required>
    </div>
    <div class="mb-3">
        <label style="color: antiquewhite;" for="cast" class="form-label">Cast</label>
        <input class="form-control" type="text" id="cast" ngModel name="cast" required>
    </div>
    <div class="mb-3">
        <label style="color: antiquewhite;" for="writers" class="form-label">Writers</label>
        <input class="form-control" type="text" id="writers" ngModel name="writers" required>
    </div>
    <div class="mb-3">
        <label style="color: antiquewhite;" for="director" class="form-label">Director</label>
        <input class="form-control" type="text" id="director" ngModel name="director" required>
    </div>
    <div class="mb-3">
        <label style="color: antiquewhite;" for="releasedate" class="form-label">Release Date</label>
        <input class="form-control" type="text" id="releasedate" ngModel name="releasedate" required>
    </div>
    <div class="mb-3">
        <label style="color: antiquewhite;" for="language" class="form-label">Language</label>
        <input class="form-control" type="text" id="language" ngModel name="language" required>
    </div>
    <div class="mb-3">
        <label style="color: antiquewhite;" for="poster" class="form-label">Poster'sLink</label>
        <input class="form-control" type="text" id="poster" ngModel name="poster" required>
    </div>
    <div class="mb-3">
        <label style="color: antiquewhite;" for="trailer" class="form-label">Trailer </label>
        <input class="form-control" type="text" id="trailer" ngModel name="trailer" required>
    </div>
    <div class="mb-3">
        <label style="color: antiquewhite;" for="showtime1" class="form-label">showtime1</label>
        <input class="form-control" type="text" id="showtime1" ngModel name="showtime1" required>
    </div>
    <div class="mb-3">
        <label style="color: antiquewhite;" for="showtime2" class="form-label">showtime2</label>
        <input class="form-control" type="text" id="showtime2" ngModel name="showtime2" required>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>