<div class="screen"></div>

<div class="theatre" #seatsContainer>
  <div class="cinema-seats left">
    <div class="cinema-row" *ngFor="let row of rows; let i = index">
      <div class="seat" *ngFor="let seat of row; let j = index" [ngClass]="{'active': isSeatReserved(i, j)}"></div>
    </div>
  </div>

  <!-- <div class="cinema-seats right">
    <div class="cinema-row" *ngFor="let row of rows; let i = index">
      <div class="seat" *ngFor="let seat of row; let j = index" [ngClass]="{'active': isSeatReserved(i, j)}"></div>
    </div>
  </div> -->
</div>


<h3>{{movie.name}}</h3>
<p>Number of selected seats: {{ selectedSeats }}</p>
<p>Total Price: {{ selectedSeats * 140 }}</p>
<button routerLink="/ticket-payment" class="btn btn-outline-primary" [disabled]="selectedSeats === 0" (click)="onConfirmButtonClick()">Confirm Seats</button>