<!-- <div class="nav">
    <app-navbar></app-navbar>
</div> -->

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerLink="/">Cinema BOM TA5😉</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/" >Movies List <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/signup">Sign Up</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" routerLink="/add">Add Movie</a>
              </li>
            
            
          </ul>
          
        </div>
      </nav>
</div>

<div class="container mt-3">
<!-- <button><a href="/signup">signup</a></button> -->
    <router-outlet></router-outlet>
  </div>

