<div class="login-container">
  <h2 class="login-title">Login</h2>
  <div class="error-message" *ngIf="errorMessage">
      {{errorMessage}}
  </div>
  <form class="login-form" (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" ngModel name="email" required class="form-control">
      </div>
      <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" ngModel name="password" required class="form-control">
      </div>
      <button type="submit" class="login-button">Login</button>
  </form>
  <button routerLink="/signup" class="register-button">Don't have an account? Register Now!</button>
</div>